body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	text-align: left;
	vertical-align: top;

}


.general-body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 13pt;
	color: #000000;


}

.MainTableBack {
	background-image: url(/images/back/page_back.jpg);
	background-repeat: repeat-y;
	background-position: center;
}
.TableQuestion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #999999;
}


td {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	vertical-align: top;
	font-size: 9pt;
	background-color: #FFFFFF;
}

/*a:hover {
	color: #FFFFFF;
	border: 1px solid #0099CC;

}*/


a:hover {
	text-decoration: none;
	/*color: #0075D0;*/
	background-color: #CAF7CB;
	
}

a:link {
	text-decoration: none;
	color: #0075D0;
}

a:active {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: #FF6600;
}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #006699;
	text-align: center;
	height: 18px;
	vertical-align: middle;
	padding-top: 2px;

}
.Header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #2F95D3;
	font-weight: bold;
	line-height: 18px;
	font-style: normal;
	padding-top: 5px;
	padding-bottom: 5px;




}
.SubHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #666666;
}

.TeXtField {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 120px;
	border: 1px solid #999999;
}
.TeXtFielddropdown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px solid #999999;
	height: 22px;
}
.line {
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #006633;
}
.PageTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #2F95D3;
	text-transform: uppercase;
	line-height: 18px;
}
.TableRowEven {
	height: 23px;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding: 5px;
}
.TableRowOdd {
	background-color: #F2F4F4;
	height: 23px;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 5px;
}
.LeftLinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: none;
	height: 25px;
	padding-top: 4px;
	background-image: url(images/back/back_left_links.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
}
.general-bodyBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	line-height: 13pt;
	font-weight: bold;
}
.ButtonGeneral {
	font-family: Arial, Helvetica, sans-serif;
	width: 150px;
	height: 25px;
	color: #000000;
}
.DropDown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	line-height: 13pt;
	height: 25px;
	width: 300px;
}
.ButtonBuyNow {

	font-family: Arial, Helvetica, sans-serif;
	width: 150px;
	height: 25px;
}
.HeaderLarge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #2F95D3;
}
.TableAnswerBlue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0066CC;
}
.TableAnswerRed {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.TableCopyName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 13pt;
	color: #333333;
	font-weight: bold;
}
.TableCopyDetails {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 13pt;
	color: #000000;
}
.TableCopyCost {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 13pt;
	color: #FF6600;
	font-weight: bold;
}
.PopUpBox {
	border: 1px solid #CCCCCC;
	margin-right: 4px;
	padding-top: 4px;
	text-align: center;
}
.PopupHeader {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #2F95D3;
}
.PopupCost {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FF6600;
}
.PopupCopy {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.CourseTableBig {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
}
.CourseTableOff {
	background-color: #F2F4F4;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-style: solid;
	border-bottom-style: solid;
	padding: 10px;
	border-right-width: 1px;
}
.CourseTableOn {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 10px;
}.PopupSubHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: lighter;
	color: #000000;
	line-height: 20px;
}
.ButtonSmall {


	font-family: Arial, Helvetica, sans-serif;
	width: 80px;
	height: 25px;
}
.TableRowfooter {
	background-color: #F2F4F4;
	height: 10px;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.LineHorizontal {
	height: 23px;
	vertical-align: middle;
	padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.TableRowOddLeft {

	background-color: #F2F4F4;
	height: 23px;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	padding: 5px;
}
.ButtonTest {
	font-family: Arial, Helvetica, sans-serif;
	width: 100px;
	height: 28px;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0066CC;
}
.ButtonTestGeneral {
	font-family: Arial, Helvetica, sans-serif;
	height: 28px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0066CC;
	width: 203px;
}
.TableTest {
	width: 800px;
	border: 1px solid #CCCCCC;
	padding: 7px;
}
.TablePopUp {

	width: 600px;
	border: 1px solid #CCCCCC;
	padding: 7px;
}
.TableBorder {

	width: 800px;
	border: 1px solid #CCCCCC;
	padding: 7px;
}
.ButtonGo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 20px;
	width: 26px;
}
/* From here the styles are written by Kranthi */
ul,ol {
	margin-left: 30px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 0px;
	font-size: 12px;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 0px;
	padding-bottom: 10px;
	margin-left: 0px;
}

.TeXtFieldTextarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 250px;
	border: 1px solid #999999;
	height: 130px;
}

html {
  /* this is a hack to force scrollbars on at 
     all times so that the page does not jump
     when going from short to long pages */
  height: 100%;
  margin-bottom: 1px;overflow: scrollbars-vertical; 
  
}

.Tablefooter {
	background-color: #F2F4F4;
	height: 23px;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 5px;
}
.TableRowSeparater {
	background-color: #F2F4F4;
	height: 10px;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	
}

.SmallText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 13pt;
}
.Note
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	line-height: 13pt;
}

.Required
{
	color: #FF0000;
	font-size: 12px;
}

.Error

{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	line-height: 13pt;
}
.TableRowEvenBorder {
	height: 23px;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;	
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	padding: 5px;
}
.TableRowOddBorder {
	background-color: #F2F4F4;
	height: 23px;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	padding: 5px;
}
.TableOddFooterBorder {
	background-color: #F2F4F4;
	height: 23px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	vertical-align: middle;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	padding: 5px;
}
.TableEvenFooterBorder {
	height: 23px;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;	
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding: 5px;
}

.TableRowQues {
	background-color:#868C7B;
	height: 23px;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 5px;
}

/* Test Page CSS*/

.TestButton
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	background-image:url(/images/buttons/button.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:150px;	
	color:#FFFFFF;
	border:0;
	font-weight:bold;
}
.TestButton:hover
{
	color:#FEF810;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	background-image:url(/images/buttons/button_down.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:150px;	
	border:0;
	font-weight:bold;

}
.Marked
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	background-image:url(/images/buttons/button_down.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:150px;	
	color:#B81200;;
	border:0;
	font-weight:bold;
}

.LineTest
{
	background-color:#FFFFFF; width:1px; height:60px;
	border:1px #FFFFFF solid;
}
.overflowTest
{
	overflow-x: hidden;
	overflow-y: auto;	
	height:300px; 
	width:900px;
}
.overflowEvaluation
{
	overflow-x: hidden;
	overflow-y: auto;	
	height:400px; 
	width:955px;
}
.style3 {color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; }
.style6 {font-size: 9px}
.newcolor{color:#000033; height:40px}

.headTest
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
}

.leftmenu {
width:17px;
margin-top:-65px;
float:left;
background-color:#000066;
}
.rightmenu {
width:17px;
background-color:#000066;
margin-top:-65px;
float:right;
margin-right:52px;
}
.TestButton1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	background-image:url(/images/buttons/button.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:150px;	
	color:#000066;
	border:0;
	font-weight:bold;
}

.breadcrumb{
font-size:12px;
color:#797979;
}

.breadcrumb a{
text-decoration: none;
color:#797979;
text-decoration: underline;
}

.breadcrumb a:visited, .breadcrumb a:active{
color:#797979;
}

.breadcrumb a:hover{
text-decoration: underline;
}
