<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml" />
        </staticContent>
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>
