/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	background-repeat:no-repeat;
}

.popupbody {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #E6E6E6;
	background-repeat:no-repeat;
}

.tborder {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}


#underlinemenu{
margin: 0;
padding: 0;
}

#underlinemenu ul{
margin: 0;
margin-top: 11px;
margin-left: 0px;
padding-left: 0;
font-family:Arial;
font-size:12px;
float: left;
font-weight: bold;
width: 878px;

}

* html #underlinemenu ul{ /*IE only rule. Delete extra margin-bottom*/
margin-bottom: 0;
}

#underlinemenu ul li{
display: inline;
}


#underlinemenu ul li a{
float: left;
color: #ffffff;
font-weight: bold;
padding: 0px 7px 0px 7px;
text-decoration: none;
border-right: double 1px #ffffff;
border-left: double 1px #ffffff;
}

#underlinemenu ul li a:hover{
color: #ffffff;
text-decoration: underline;

}


#container {
	MARGIN-TOP: 0px; Z-INDEX: 10; WIDTH: 100%; POSITION: relative; TOP: 0px; 
}

#home_panel_2 {
	MARGIN: 0px 0px 0px 0px; WIDTH: 780px; POSITION: relative;
}
.home_panel_3 {
	background-image: url(images/center_bg.gif);
	background-repeat: no-repeat;
}
.home_panel_4 {
	background-image: url(images/center_bg_inside.gif);
	background-repeat: no-repeat;
	padding-left:30px;
}
.commentfooter{
	margin-top: 5px;
	font-size: 12px;
	color: #0359b4;
	font-family:Arial;
	font-weight:normal;
	text-align:left;
}
.commentfooter a{
	margin-top: 5px;
	font-size: 12px;
	color: #0359b4;
	font-family:Arial;
	font-weight:normal;
	text-align:left;
	text-decoration:none;
}
.commentfooter a:link{
text-decoration:none;
}
.commentfooter a:hover{
text-decoration:underline;
color:#000000;
}



#subheader{
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP:0px; font-size:11px;
	text-align:left; color:#b6b6b6; 
	}

#subheader p{

	font-size:12px;
	font-weight:normal;
	color:#b6b6b6;
	margin-top: 6px;
	line-height:18px;
	}	
#subheader h1{
	clear:left;
	font-size:13px;
	font-weight:bold;
	color:#777777;
	PADDING-top: 10px;
	}
#subheader h2{
	font-size:14px;
	font-weight:bold;
	PADDING-BOTTOM: 10px;
	color:#f58222;
	}
	
	
	.header{
	
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	color:#0359b4;
	margin-top: 6px;
	line-height:21px;
	text-align:left;
	}	
	
	.header1{
	
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	color:#0359b4;
	margin-top: 6px;
	line-height:21px;
	text-align:center;
	}	
		
	.lbox {
	background-color: #f7fafc;
	padding: 3px;
	border: 1px solid #dae6f3;
}
.btext {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

#faqtext:visited{color:#0359b4}
#faqtext:hover{color: #0359b4}
#faqtext:active {color: red}


.btext h1{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: left;
}

.btext ul,ol{
	margin: 0px;
	margin-left:18px;
	padding: 0px;
}
.btext li{
	margin: 0px;
	margin-left:18px;
	padding: 7px;
	/*padding-bottom:12px;
	padding-top:7px;*/
	}
.btext a{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #0359b4;
	text-decoration: underline;

}
.btext a:link{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #0359b4;
	text-decoration: underline;

}
.btext a:hover{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;

}
.scrollhead{
margin-bottom: 0.5em;
font-family:Arial;
font-size:11px;
color:#0359b4;
text-align:left;
font-weight:normal;
text-decoration:none;
}

.buttonlink{
	margin: 0px;
	margin-left:18px;
	padding: 10px 10px 10px 10px;
	font-family:Arial;
	font-size:11px;
	color:#ffffff;
	background-color:#d6ebf0;
	font-weight:normal;
	text-decoration:none;
		}
	.buttonlink a{
	margin: 0px;
	margin-left:18px;
	padding: 10px 10px 10px 10px;
	font-family:Arial;
	font-size:11px;
	color:#ffffff;
	background-color:#d6ebf0;
	font-weight:normal;
	text-decoration:none;
		}
		
	.buttonlink a:link{
	margin: 0px;
	margin-left:18px;
	padding: 10px 10px 10px 10px;
	font-family:Arial;
	font-size:11px;
	color:#ffffff;
	background-color:#d6ebf0;
	font-weight:normal;
	text-decoration:none;
		}
		
		.buttonlink a:hover{
	color:#000000;
	text-decoration:underline;
		}
	.imagetitles
		{
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:700;
	