<!-- Footer Starts -->

<div align="left" valign="top" class="copyright" style="width:940px;height:16px; margin-right:-5px;">&copy; 2011 Edusys Services Private Limited, <%If Session("CountryOrigin") = "US" OR Session("CountryOrigin") = "Canada" Then  %>UK  (VMEdu, Inc., US)<%Else%> All Rights Reserved<%End If %></div>

<!-- Footer Ends -->

<div align="left" style="width:900px;height:50px; margin-left:14px;" valign="top">

<p><font size="1px">
<a href="/index.asp">Home</a>
 | <a href="/aboutus.asp">About Us</a>
   <% If Session("CountryOrigin") = "Other" Then %>
|  <a href="/ITIL-Training/courseBenefits-Online.asp">Online Course Benefits </a> 
<%End If%>
 <%  If Session("CountryOrigin") = "US" OR Session("CountryOrigin") = "Canada" OR Session("CountryOrigin") = "India" OR Session("CountryOrigin") = "UAE" OR Session("CountryOrigin") = "Singapore"  OR Session("CountryOrigin") = "United Kingdom" OR Session("CountryOrigin") = "Australia" Then %>
|  <a href="/ITIL-Training/courseBenefits.asp">ITIL Classroom Course Benefits </a> |  <a href="/ITIL-Training/better-than-competitors.asp">Better Than Competitors </a>
  |  <a href="/ITIL-Training/comprehensive.asp">Comprehensive and Effective </a>
    <%  If Session("CountryOrigin") = "US" OR Session("CountryOrigin") = "Canada" OR Session("CountryOrigin") = "UAE" OR Session("CountryOrigin") = "Singapore" OR Session("CountryOrigin") = "United Kingdom" OR Session("CountryOrigin") = "Australia"   Then %>
  | <a href="/ITIL-Training/free-onlinecertification.asp">Classroom - Free 6sigma Green Belt Course/Free HRD</a>
 <% End If %>
   | <a href="/enrollClass.asp">Enrol for Classroom Course</a>
   | <a href="/ITIL-Courses.asp">ITIL Classroom Course</a>
    | <a href="/classroomTraining.asp">Foundation Class Methodology </a> 
	| <a href="/ITIL-Foundation-Course.asp">ITIL Foundation Course</a>
	<% End If %>
 	| <a href="/ITIL-Training/classroom-FAQ.asp"> ITIL FAQs</a>

    | <a href="/ITIL-Online-Courses.asp">ITIL Online Courses</a>
	
	  | <a href="/methodology/Online-Training.asp">Foundation Online Training </a> 
	 | <a href="/affiliates.asp">Affiliate</a>
	  | <a href="/memberlogin.asp">Login</a> 
	  | <a href="/contactus.asp">Contact</a> 
	  | <a href="/contactus.asp#feedback"> Feedback</a>
	   | <a href="/sitemap.asp">Sitemap</a>
	   </font></p></div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<%  If Session("CountryOrigin") = "Germany" Then %>
<script type="text/javascript">

    $(window).scroll(function (e) {
        $el = $('#contact-box');
        if ($(this).scrollTop() > 350) {

            $('#contact-box').css({ 'position': 'fixed', 'top': '0px' });
        }
        else {
            $('#contact-box').css({ 'position': 'relative', 'top': 'auto' });
        }

    });

</script>
<% ElseIf Session("CountryOrigin") = "United Kingdom" Then %>
<script type="text/javascript">


    $(window).scroll(function (e) {
        $el = $('#left_navigation');
        if ($(this).scrollTop() > 700) {
            $('#left_navigation').css({ 'position': 'fixed', 'top': '0px' });
        }
        else {
            $('#left_navigation').css({ 'position': 'relative', 'top': 'auto' });
        }

    });

</script>
<% End If %>
<!--<div align="center"><font size="1px">ITIL<sup>&reg;</sup> is a Registered Trade Mark of the Office of Government Commerce in the United Kingdom and other countries.</font></div>
-->
<div align="center"><font size="1px">The Swirl logo™ is a trade mark of the Cabinet Office.</font></div>
<div align="center"><font size="1px">ITIL<sup>&reg;</sup> is a registered trade mark of the Cabinet Office.</font></div>
<div align="center"><font size="1px">IT Infrastructure Library<sup>&reg;</sup> is a registered trade mark of the Cabinet Office.</font></div>
<div align="center"><font size="1px">PRINCE2<sup>&reg;</sup> is a registered trade mark of the Cabinet Office.</font></div>


</div>
</body>
</html>

 
